.login-page {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('http://view.lixingyong.com/images/2023/04/05/wallhaven-l35jjp.jpeg');
    background-size: cover;
    top: 0;
    left: 0;
}

/* 登录前样式 */
.noLogin,.noRegister{
    position: absolute;
    height: 420px;
    width: 700px;
    left: 30vw;
    top: 25vh;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.noLogin-left,
.register-left {
    height: 100%;
    width: 49.9%;
    float: left;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-right: 1px solid #ccc;
    z-index: 1000;
    background-color: rgba(249, 250, 248, 0.9);
    position: relative;
}

.noLogin-left-from {
    width: 90%;
    margin: 48% auto;
}

.noLogin-left-btn1 {
    color: black;
    font-size: 12px;
    position: relative;
    top: -1vh;
    cursor: pointer;
}

.noLogin-left-btn2 {
    width: 100px;
    border-radius: 2rem;
    background: rgb(13, 117, 236);
}

.noLogin-right,
.register-right {
    width: 49.9%;
    float: left;
    height: 100%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: rgba(13, 117, 236, 0.9);
    position: relative;
}

.noLogin-right-reg {
    position: relative;
    top: 15vh;
}

.noLogin-right-btn1 {
    margin-top: 2vh;
    width: 150px;
    border-radius: 1rem;
    background: none;
}


/* 登录后的样式 */
.isLogin {
    position: relative;
    width: 60vw;
    height: 700px;
    left: 20%;
    top: 10%;
    border-radius: 1rem;
    background-color: rgba(245, 245, 245, 0.9);
    color: black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

.isLogin-userImg img {
    position: relative;
    width: 6vw;
    height: 6vw;
    left: 28dvw;
    top: 3vh;
    cursor: pointer;
    border-radius: 5rem;
}

/* 头像旋转 */
.isLogin-userImg img:hover {
    animation: rotateAnimation 0.4s linear;
    /* 应用旋转动画 */
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
        /* 从0度开始旋转 */
    }

    to {
        transform: rotate(360deg);
        /* 旋转一圈，360度 */
    }
}

.login-from {
    position: relative;
    top: 10%;
    left: 20%;
    width: 60%;
}