.login-page {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url("http://view.lixingyong.com/images/2023/04/05/wallhaven-l35jjp.jpeg");
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  z-index: 100;
}

/* 登录前样式 */
.noLogin,
.noRegister {
  position: fixed;
  top: 25vh;
  left: 30vw;
  height: 50vh;
  min-height: 400px;
  max-height: 420px;
  width: 100vw;
  max-width: 720px;
  border-radius: 1rem;
  text-align: center;
  background-size: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
}

.noLogin-left,
.register-left {
  height: 100%;
  width: 49.8%;
  float: left;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-right: 1px solid #ccc;
  z-index: 1000;
  background-color: rgba(249, 250, 248, 1);
  position: relative;
}

.noLogin-left-from {
  width: 90%;
  margin: 48% auto;
}
.noLogin-right-from {
  width: 90%;
  margin: 10% auto;
}

.noLogin-left-btn1 {
  color: black;
  font-size: 12px;
  position: relative;
  top: -1vh;
  cursor: pointer;
}

.noLogin-left-btn2 {
  width: 100px;
  border-radius: 2rem;
  background: rgb(13, 117, 236);
}

.noLogin-right,
.register-right {
  width: 49.9%;
  float: left;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: rgba(13, 117, 236, 1);
  position: relative;
}

.noLogin-right-reg {
  position: relative;
  top: 15vh;
}

.noLogin-right-btn1 {
  margin-top: 2vh;
  width: 150px;
  border-radius: 1rem;
  background: none;
}

/* 登录后的样式 */
.isLogin {
  position: relative;
  width: 95vw;
  max-width: 1350px;
  height: 85vh;
  left: 5%;
  top: 10%;
  border-radius: 1rem;
  background-color: #ffffff;
  color: black;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5), -4px -4px 6px rgba(0, 0, 0, 0.5),
    4px 4px 6px rgba(0, 0, 0, 0.5), 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.isLogin-left {
  position: relative;
  top: 7%;
  width: 49.5%;
  height: 100%;
  float: left;
}

/* 手机端样式 */
.isLogin-phone {
  position: relative;
  top: 7%;
  height: 100%;
  width: 80vw;
  float: left;
}
.isLogin-phone img{
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #6d2626;
  cursor: pointer;
  border-radius: 5rem;
}
.isLogin-phone .avatar-uploader{
  position: relative;
  width: 50px;
  height: 50px;
  left: 50%;
  top: -2vh;
  cursor: pointer;
  border-radius: 5rem;
}


.isLogin-left .avatar-uploader,
.imgHover {
  position: relative;
  width: 90px;
  height: 90px;
  left: 45%;
  cursor: pointer;
  border-radius: 5rem;
}

.imgHover {
  position: absolute;
  top: 1px;
  left: 1px;
  color: #b1b1b1;
  line-height: 90px;
  background: rgba(0, 0, 0, 0);
  z-index: -1;
}

.isLogin-left img {
  position: relative;
  width: 90px;
  height: 90px;
  border: 1px solid #6d2626;
  cursor: pointer;
  border-radius: 5rem;
}
.avatar-uploader:hover .imgHover {
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  transition: 1s;
}
/* 电脑端表单 */
.isLogin-left .login-from {
  position: relative;
  width: 80%;
  left: 10%;
  top: 5%;
}

/* 手机端表单 */
.isLogin-phone .login-phone-from{
  position: relative;
  width: 100%;
  left: 10%;
  top: 5%;
}

/* 头像旋转 */
.isLogin-userImg img:hover {
  animation: rotateAnimation 0.4s linear;
  /* 应用旋转动画 */
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
    /* 从0度开始旋转 */
  }

  to {
    transform: rotate(360deg);
    /* 旋转一圈，360度 */
  }
}

.isLogin-right {
  float: right;
  width: 50%;
  height: 100%;
  color: #181818;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
}

.isLogin-right-top,
.isLogin-right-bottom {
  margin-top: -20px;
  height: 50%;
}
.isLogin-right-top-top {
  position: relative;
  top: 1px;
  left: 0px;
  height: 40px;
  line-height: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.5);
}
.isLogin-right-top-top h3 {
  margin-left: 5px;
}
.isLogin-right-top-top:hover {
  transition: 0.5s;
  background-color: #bdbdbd;
}

/* 我的照片样式 */
.el-card-hover {
  position: relative;
  top: -131px;
  height: 120px;
  margin: 10px -30px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.el-card-hover-span {
  position: absolute;
  bottom: 15px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.el-card-hover:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #eeb517;
  transition: 0.5s;
}
.el-card-hover:hover .el-card-hover-span{
  background: rgba(0, 0, 0, 0);
}
